@{
    ViewBag.Title = "关于本站";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bb-divtodo">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div class="container marketing"> <p>记录宝宝的成长经历，分享父母的喜悦， 一起见证。</p> </div>
</div>