@{
    ViewBag.Title = "宝宝家";
    Layout = "~/Views/Shared/_PicLayout.cshtml";
}
<div class="container bb-about">
    <div class="row">
        <form role="form" id="contact">
            <div class="form-group">
                <h1>Contact</h1>
                <p><input type="text" class="form-control" placeholder="姓名" /></p>
                <p><input type="mail" class="form-control" placeholder="邮箱" /></p>
                <p><textarea name="" class="form-control" id="" rows="5" placeholder="正文"></textarea></p>
            </div>
            <button type="submit" class="form-control btn btn-default submit">提交</button>
        </form>

    </div>
</div>
