@{
    ViewBag.Title = "视频";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="header-wrapper">
        <div class="row">
            <div class="col-md-8 nogutter">
                <div class="centervideo">
                    <div class="embed-responsive embed-responsive-16by9 bb-video-html5player">
                        <video controls class="embed-responsive-item">
                            <source src="devstories.webm"
                                    type='video/webm;codecs="vp8, vorbis"' />
                            <source src="@ViewBag.EventToShow"
                                    type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-4 nogutter">
                <div class="rightsidebar">
                    <div class="streamtitle">
                        <h2> Live Web Design</h2>
                    </div>
                    <div class="streamdesc-wrapper">
                        <div class="streamdesc">
                            <p><span class="highlight">Stream Description: </span>Aliqua post-ironic put a bird on it blog beard. You probably haven't heard of them consequat Intelligentsia est fingerstache McSweeney's chia, post-ironic hashtag consectetur church-key deserunt. Non skateboard direct trade American Apparel, try-hard gluten-free commodo McSweeney's beard chambray. Wolf twee Austin, Brooklyn Neutra flexitarian Schlitz. Typewriter Bushwick ethnic, stumptown pi.</p>
                        </div>
                        <div class="streamcategory">
                            <p><span class="highlight">Category: </span> Web Design, UX Design, Design Theory</p>
                        </div>
                        <div class="streamauthor">
                            <p><span class="highlight">Streaming by:</span> Johnathan Smith</p>
                        </div>
                        <div class="authorwebsite">
                            <p><span class="highlight">Website: </span><a href="#">www.livewebdesign.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bb-video-watchlist">
    <div class="col-xs-6 col-md-3 bb-video-item">
        <a href="#" class="thumbnail">
            <img src="//i1.ytimg.com/vi/wJKjsb_A8M4/default.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 bb-video-item">
        <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x180" src="//i1.ytimg.com/vi/wJKjsb_A8M4/default.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 bb-video-item">
        <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x180" src="//i1.ytimg.com/vi/wJKjsb_A8M4/default.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3 bb-video-item">
        <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x180" src="//i1.ytimg.com/vi/wJKjsb_A8M4/default.jpg" alt="...">
        </a>
    </div>
</div>


@*<div class="container">
        <div id="myCarousel" class="carousel bb-carouselhelper" data-ride="carousel">
            <div class="bb-video-container">
                <video controls class="media-object bb-video-html5player">
                    <source src="devstories.webm"
                            type='video/webm;codecs="vp8, vorbis"' />
                    <source src="@ViewBag.EventToShow"
                            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
            </div>
        </div>
        <div class="container">
            <div>
                Side bar.

            </div>
        </div>
    </div>*@

