@{
    ViewBag.Title = "七仔";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide bb-carouselhelper" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class="" data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" src="../images/boy7.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>七仔六个月</h1>
                    <p>Note: 如果你想看更多照片 <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">赞一个</a></p>
                </div>
            </div>
        </div>
        <div class="item ">
            <img class="" data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" src="../images/main2.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>还是七仔</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Timeline</a></p>
                </div>
            </div>
        </div>
        <div class="item ">
            <img class="" data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" src="../images/main3.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>七仔长大了</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/2idz0sjr4uetsg0/AADzZ4Xnb20OYHuZN7PKthpxa" role="button">Dropbox 相册</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container-full">
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" data-src="holder.js/140x140" src="../images/ma7.jpg" alt="Generic placeholder image">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" data-src="holder.js/140x140" src="../images/ba1.jpg" alt="Generic placeholder image">
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" data-src="holder.js/140x140" src="../images/ma7.jpg" alt="Generic placeholder image">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">The baby is insanely great! <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">他笑，他哭，他闹，他什么东西都想要. 这个世界对他而言是全新而模糊的。宝宝试着认识世界，而爸妈试着了解宝宝。</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-rounded" data-src="holder.js/500x500/auto" src="../images/b500.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-rounded" data-src="holder.js/500x500/auto" src="../images/b500.jpg" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Yes, this is the baby we want! <span class="text-muted">他会抓你！.</span></h2>
                <p class="lead">这个小家伙精力充沛，一旦他认定目标，哪怕爬也要爬到。对了，不要试着阻止他，小心你的头发。</p>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">你会爱上他！ <span class="text-muted">The one.</span></h2>
                <p class="lead">每三个小时，他要吃奶，要玩，要睡觉，爱洗澡。 生命真可爱.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive img-rounded" data-src="holder.js/500x500/auto" src="../images/b500.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</div>