@{
    ViewBag.Title = "Comming soon";
    Layout = "~/Views/Shared/_ComLayout.cshtml";
}

<div class="container divtodo">
    <h2>
        We are working hard to bring it for you...
    </h2>
</div>

