@{
    ViewBag.Title = "宝宝家";
    Layout = "~/Views/Shared/_ComLayout.cshtml";
}

<div class="container divtodo">
    <h2>
        @ViewBag.Title.
    </h2>
    <address>
        <strong><a href="http://www.weibo.com/u/1712451982">爸爸的微博</a>    <a href="mailto:Nakayamaqs@gmail.com">联系爸爸</a> </strong> <br />
        <a href="mailto:abotian69@gmail.com">联系妈妈</a>
    </address>

    <h3>@ViewBag.Message</h3>

    <address>
        文二路<br />
        杭州, 浙江<br />
        <abbr title="Phone">P:</abbr>
        135 8831 9441
    </address>
</div>
