<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="accountName" value="baby" />
    <add key="accountKey" value="7RZV9Om6NPT0zHtYN/vW1SJl69tnhr5PLEDrWSsxz2o=" />
    <add key="SupportFolder" value="C:\Users\zhzhang\Downloads"/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
  </appSettings>
</configuration>